{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Товары{% endblock %}
{% block content %}
    <span style="font-size:30px;cursor:pointer"
          onclick="openNav()">☰</span>
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <div class="accordion accordion-flush" id="accordionFlushExample">
            {% for parent_category in parent_categories %}
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed text-white bg-dark"
                                type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#flush-collapse{{ forloop.counter }}"
                                aria-expanded="false"
                                aria-controls="flush-collapseOne"
                                id="accordionButton">
                            {{ parent_category.name }}
                        </button>
                    </h2>
                    <div id="flush-collapse{{ forloop.counter }}"
                         class="accordion-collapse collapse"
                         aria-labelledby="flush-headingOne"
                         data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <main id="main">
        <section class="py-5 text-center container">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <h1 class="fw-light">Album example</h1>
                    <p class="lead text-muted">Something short and leading
                        about
                        the collection below—its contents, the creator, etc.
                        Make
                        it short and sweet, but not too short so folks don’t
                        simply
                        skip over it entirely.</p>
                    <p>
                        <a href="#" class="btn btn-primary my-2">Main call to
                            action</a>
                        <a href="#" class="btn btn-secondary my-2">Secondary
                            action</a>
                    </p>
                </div>
            </div>
        </section>
        <div class="album py-5 bg-light">
            <div class="container">

                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    {% for item in page_obj %}
                        <div class="col">
                            <div class="card shadow-sm">
                                <img src="{{ item.image.url }}"
                                     class="card-img-top" alt="">

                                <div class="card-body">
                                    <p class="card-text">{{ item.name }}</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <button type="button"
                                                    class="btn btn-sm btn-outline-secondary">
                                                {{ item.price }}
                                            </button>
                                            <button type="button"
                                                    class="btn btn-sm btn-outline-secondary">
                                                $
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="container">
            {% if is_paginated %}
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                        <li>
                            <a href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
                        </li>
                    {% else %}
                        <li class="disabled"><span>&laquo;</span></li>
                    {% endif %}
                    {% for i in paginator.page_range %}
                        {% if page_obj.number == i %}
                            <li class="active"><span>{{ i }} <span
                                    class="sr-only">(current)</span></span>
                            </li>
                        {% else %}
                            <li><a href="?page={{ i }}">{{ i }}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                        <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a>
                        </li>
                    {% else %}
                        <li class="disabled"><span>&raquo;</span></li>
                    {% endif %}
                </ul>
            {% endif %}
        </div>
    </main>
{% endblock %}
{% block script %}
    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", function (event) {
        });
    </script>
{% endblock %}