{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    {% if validlink %}
        <div class="container mt-5 mb-5" style="text-align: left">
            <h3>Сброс пароля</h3>
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-primary mt-3">Сменить пароль</button>
            </form>
        </div>
    {% else %}
        <div class="container">
            <div class="alert alert-danger" role="alert">
                Ссылка на сброс пароля не рабочая, возможно потому что она уже была использована.
                Пожалуйста, запросите сброс пароля снова.
            </div>
        <div>
    {% endif %}
{% endblock %}